@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/Restaurant_index.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Restaurant_scripts.js"></script>


<fieldset>
    <legend>
        Custmer Details :
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Customer :
                    @Html.DropDownList("Customer", new SelectList(Model.Item1, dataValueField: "Value", dataTextField: "Text"),
                   htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Payment Type :
                    @Html.DropDownList("PaymentType", new SelectList(Model.Item3, dataValueField: "Value", dataTextField: "Text"),
                   htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                   Total :
                    <input type="text" value="0.00" name="FinalTotal" readonly="readonly" id="txtFinalTotal" class="form-control" />
                </div>
            </div></div>
    </div>
</fieldset>

<fieldset>
    <legend>
        Infra Items
    </legend>
    <div class="container" >
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Item:
                    @Html.DropDownList("Item", new SelectList(Model.Item2, dataValueField: "Value", dataTextField: "Text"),
                        htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Unit Price :
                    <input type="text" readonly="readonly" id="txtUnitPrice" value="0.00" name="UnitPrice" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Quantity :
                    <input type="text" id="txtQuantity" value="0" name="Quantity" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    Discount :
                    <input type="text" id="txtDiscount" value="0.0" name="Discount" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Total :
                    <input type="text" readonly="readonly" id="txtTotal" value="0.00" name="Total" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" style="margin-top:20px; font-size:15px; align-content:center;" value="Add To List" name="AddToList" id="btnAddToList" class="btn btn-success" />

                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Order List</legend>
    <table style="width:100%" id="tb1RestaurantItemList">
        <tr>
            <th hidden>
                Item Id
            </th>
            <th>
                Item Name
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quanity
            </th>
            <th>
                Discount
            </th>
            <th>
                Total
            </th>
            <th>
                Action
            </th>
        </tr>
    </table>
</fieldset>

<div style="margin-top:50PX">
    <input data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#divPayment" style="float:right" type="button" value="Checkout" name="checkout" id="btnCheckOut" class="btn btn-primary" />
</div>

<div id="divPayment" class="modal fade" role="dialog"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-md-6">
                            Payment Total :
                            <input type="text" id="txtPaymentTotal" readonly="readonly" value="0.00" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            Payment Amount :
                            <input type="text" id="txtPaymentAmount" value="0.00" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            Return Total :
                            <input type="text" id="txtReturnTotal" value="0.00" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            Balance Amount :
                            <input type="text" readonly="readonly" id="txtBalance" value="0.00" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" id="btnPayment" value="Payment">Payment</button>
                <button class="btn btn-danger" id="btnClose" data-dismiss="modal" value="close">Close</button>
            </div>
        </div>
    </div>
</div>